kaniu-animal-pages.json
{
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Animal').item.json.body.tab_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -1696
      ],
      "id": "e37104c4-4c1b-450e-b2fc-b139a6862fa0",
      "name": "Resumo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c54f5a0c-b88b-4de8-aaa4-7d7c124a4f29",
              "name": "Última vacinação",
              "value": "={{ $json.vacina_anterior }}",
              "type": "string"
            },
            {
              "id": "08dcd379-1a6e-464d-aa5c-5fcd3e052e8c",
              "name": "vacina_anterior_dias",
              "value": "={{ $json.vacina_anterior_dias }}",
              "type": "string"
            },
            {
              "id": "4e7592d8-17d5-44ed-9d46-57b10ec952dd",
              "name": "Próxima vacinação",
              "value": "={{ $json.vacina_proxima }}",
              "type": "string"
            },
            {
              "id": "bc61f841-c8d2-461c-baf9-f608cb8f2973",
              "name": "vacina_proxima_dias",
              "value": "={{ $json.vacina_proxima_dias }}",
              "type": "string"
            },
            {
              "id": "2d60e8f9-7c7f-4a8c-b8e5-7f86e7d389e5",
              "name": "Última vermifugação",
              "value": "={{ $json.vermifugo_anterior }}",
              "type": "string"
            },
            {
              "id": "3f60bc80-2b6e-4dc7-9bd7-d0ad1996d0b1",
              "name": "vermifugo_anterior_dias",
              "value": "={{ $json.vermifugo_anterior_dias }}",
              "type": "string"
            },
            {
              "id": "47125f83-5c2a-45ff-ad9c-a628610cafdd",
              "name": "Próxima vermifugação",
              "value": "={{ $json.vermifugo_proximo }}",
              "type": "string"
            },
            {
              "id": "7039ba61-d50f-48e4-889f-9bbd36b2e525",
              "name": "vermifugo_proxima_dias",
              "value": "={{ $json.vermifugo_proxima_dias }}",
              "type": "string"
            },
            {
              "id": "31e4a273-c15d-43be-ae8d-c872d4ff0669",
              "name": "Última desparasitação",
              "value": "={{ $json.desparasitacao_anterior }}",
              "type": "string"
            },
            {
              "id": "c9173d33-8879-450d-b9b7-69a5eb0e4816",
              "name": "desparasitacao_anterior_dias",
              "value": "={{ $json.desparasitacao_anterior_dias }}",
              "type": "string"
            },
            {
              "id": "2a93b742-cf6a-4b2a-b131-13d465b26073",
              "name": "Próxima desparasitação",
              "value": "={{ $json.desparasitacao_proximo }}",
              "type": "string"
            },
            {
              "id": "10d4785a-e7ce-4ca0-9906-630be6478071",
              "name": "desparasitacao_proxima_dias",
              "value": "={{ $json.desparasitacao_proxima_dias }}",
              "type": "string"
            },
            {
              "id": "554aef45-5e7f-4084-a5f5-235a31f219c3",
              "name": "Última avaliação",
              "value": "={{ $json.avaliacao_data }}",
              "type": "string"
            },
            {
              "id": "63399e34-309d-42c8-996b-50813e03258a",
              "name": "Score Corporal",
              "value": "={{ $json.score_ultimo }}",
              "type": "number"
            },
            {
              "id": "62a5ec45-9f24-40ac-8eac-36f22767fd08",
              "name": "Índice de saúde",
              "value": "={{ Math.floor($json.saude_indice*10)/10 * 100 }}%",
              "type": "string"
            },
            {
              "id": "3761f69b-5b7d-41ac-84ee-7a4d5acbd682",
              "name": "condicoes",
              "value": "={{ $json.condicoes }}",
              "type": "array"
            },
            {
              "id": "a4df3739-8aa8-4dd4-bc46-f57a4003d74c",
              "name": "avaliacao_ultima_dias",
              "value": "={{ $json.avaliacao_dias }}",
              "type": "number"
            },
            {
              "id": "bbee9c2b-b6eb-4e3d-868b-9b8c130deacc",
              "name": "Observações",
              "value": "={{ $json.observacao }}",
              "type": "string"
            },
            {
              "id": "f6725751-3e4f-44d3-8b80-7fb5c652c118",
              "name": "Data pesagem",
              "value": "={{ $json.peso_data }}",
              "type": "string"
            },
            {
              "id": "7157eb37-7df6-410a-9edb-8a5793b88871",
              "name": "Último peso",
              "value": "={{ $json.peso_atual }}",
              "type": "number"
            },
            {
              "id": "1de075d2-3d53-415a-843b-105a63d552ae",
              "name": "Peso anterior",
              "value": "={{ $json.peso_anterior }}",
              "type": "number"
            },
            {
              "id": "6271e9cd-ca9e-4da4-9558-3344730bbc1a",
              "name": "Variação de peso",
              "value": "={{ (Math.ceil($json.peso_variacao*1000)/10) }}%",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -1696
      ],
      "id": "0ce814d1-9326-40f5-9038-a2cfa411a8ca",
      "name": "Vars Resumo",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "animal_painel",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "animal_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.animal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        -1696
      ],
      "id": "542a9a21-533d-45f2-bd6e-2325bae5cbae",
      "name": "Get Resumo",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vfFMnH1cZndqgot0",
          "name": "Viralatinhaz Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json;\n\n// Verifica se a resposta contém alguma das chaves esperadas\nconst data = output.resumo ||\n             output.eventos ||\n             output.pesagens ||\n             output.avaliacoes ||\n             output.imunizacoes ||\n             output.tratamentos ||\n             output.arquivos;\n\n// Se não houver dados, retorna um objeto JSON com mensagem de erro\nif (!data || data.length === 0) {\n    return [{ json: { error: 'Nenhum registro encontrado.' } }];\n}\n\n// Identifica a chave principal (ex: 'pesagens', 'eventos')\nconst mainKey = Object.keys(output)[0];\nconst items = output[mainKey];\n\n// Em caso de dados vazios, retorna um objeto JSON claro\nif (!items || items.length === 0) {\n    return [{ json: { error: `Nenhum registro encontrado.` } }];\n}\n\n// Tratamento especial para pesagens, retornando também os dados do gráfico\nif (mainKey === 'pesagens') {\n    // Inverte a ordem dos itens para que o gráfico seja cronológico\n    const reversedItems = [...items].reverse();\n\n    // Monta array de objetos no formato { data, peso }\n    let chartData = reversedItems\n        .filter(item => item.data && item.peso !== null && item.peso !== undefined)\n        .map(item => ({\n            data: item.data,   // formato original YYYY-MM-DD\n            peso: item.peso\n        }));\n\n    return [{\n        json: {\n            items: items,\n            chartData: chartData\n        }\n    }];\n}\n\n// Para todos os outros tipos de dados, retorna apenas a lista de itens\nreturn [{ json: { items: items } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -1312
      ],
      "id": "24ea33ad-611f-4a42-8031-0c579ec7d0fa",
      "name": "Table"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "data",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1280,
        -928
      ],
      "id": "97c56ae1-ffb0-49c1-949f-8dca23e939a1",
      "name": "Sort5"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "data",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1280,
        -1056
      ],
      "id": "61575ef0-1d12-4cb8-9d15-d553c9240fff",
      "name": "Sort4"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "data",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1280,
        -1184
      ],
      "id": "0363fab9-7939-45dd-9580-2d52bb3d0e41",
      "name": "Sort3"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "data",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1280,
        -1312
      ],
      "id": "121de4a6-37e2-4cb5-9c77-72dcaf7f5f55",
      "name": "Sort2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "data",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1280,
        -1440
      ],
      "id": "bf782820-ba71-4654-8b31-6463148d99a1",
      "name": "Sort1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "data",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1280,
        -1568
      ],
      "id": "c8a09aa9-e483-4701-baad-3c00a5691d71",
      "name": "Sort"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Animal').item.json.body.tab_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -1568
      ],
      "id": "7f2e717a-e5e0-4f69-8ab1-bf5dbf395472",
      "name": "Eventos"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Animal').item.json.body.tab_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -928
      ],
      "id": "64ab1ffe-8319-4a09-ac7c-e5fa3dd7ca3b",
      "name": "Arquivos"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Animal').item.json.body.tab_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -1056
      ],
      "id": "36ba8f6e-e7e4-48b3-ba27-9be6e6a4337c",
      "name": "Tratamentos"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Animal').item.json.body.tab_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -1184
      ],
      "id": "8c372d24-2743-4bc9-a7df-885fc96ae32b",
      "name": "Imunizacoes"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Animal').item.json.body.tab_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -1312
      ],
      "id": "b99d4669-8b37-4e4d-8744-3a7df36225fb",
      "name": "Avaliacoes"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Animal').item.json.body.tab_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        -1440
      ],
      "id": "7e11ef19-64bc-413d-b556-7619e5440c00",
      "name": "Pesagens"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76a9eaa1-cd05-4074-a629-9488ebe57ca6",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "456fb70b-142d-4d31-990e-411127e29be3",
              "name": "data",
              "value": "={{ $json.criacao }}",
              "type": "string"
            },
            {
              "id": "0b60d8d7-f860-4239-8057-0cc647883917",
              "name": "Nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "c0560bfa-17ce-403e-a31e-5e5277ebe0f9",
              "name": "url",
              "value": "={{ $json.aquivo }}",
              "type": "string"
            },
            {
              "id": "7d212770-1f9c-41dc-af3a-acc806a5929b",
              "name": "Observação",
              "value": "={{ $json.observacao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -928
      ],
      "id": "4a03e701-bce6-4c2c-a5cd-eeb49e034b8d",
      "name": "Vars Arquivos",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3298b1b0-8415-4d41-8a10-0fe3b6036e25",
              "name": "data",
              "value": "={{ $json.inicio }}",
              "type": "string"
            },
            {
              "id": "ad91321d-be5d-4932-af9a-a5b77ac19c08",
              "name": "Veterinário",
              "value": "={{ $json.veterinario_nome }}",
              "type": "string"
            },
            {
              "id": "a3669bc4-5849-4fd5-ad30-75ac2b0dc634",
              "name": "Medicamento",
              "value": "={{ $json.medicamento_nome }}",
              "type": "string"
            },
            {
              "id": "697b9006-edb8-4f83-93ef-5a40b4e9da93",
              "name": "Dose",
              "value": "={{ $json.dose }}",
              "type": "string"
            },
            {
              "id": "a4e6a6c1-4822-42bc-ad0b-5993220574a7",
              "name": "Dosagem",
              "value": "={{ $json.dosagem }}",
              "type": "string"
            },
            {
              "id": "c7716bb9-a6f4-4c20-8111-54dd5123959b",
              "name": "Via",
              "value": "={{ $json.via }}",
              "type": "string"
            },
            {
              "id": "3af1e8bb-e32e-4bdb-9e11-bf67a59e8f65",
              "name": "Duração",
              "value": "={{ $json.duracao_dias + ' dias'}}",
              "type": "string"
            },
            {
              "id": "5787612e-9f2e-4dc6-959e-a0f1615d9d7d",
              "name": "Horário de Início",
              "value": "={{ $json.inicio_horario.toDateTime().format('hh:mm') }}",
              "type": "string"
            },
            {
              "id": "40d2e41b-3064-4eff-863e-801d199d4604",
              "name": "Intervalo",
              "value": "={{ ($json.continuo || false) ? 'Contítuo' : ('A cada ' + $json.intervalo_horas + 'h') }}",
              "type": "string"
            },
            {
              "id": "8a36a836-fbe8-4f11-8e0c-4bb77bf4d83a",
              "name": "Observações",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "36cfb48b-f925-4332-b9f6-55f2aec42689",
              "name": "Status",
              "value": "={{ $json.terminada ? 'Encerrado' : 'Em andamento' }}",
              "type": "string"
            },
            {
              "id": "62b571f0-4d39-4c0d-aa9a-47748f4a5a54",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "d1b48b01-3103-4a55-9e7c-702cd9b2c684",
              "name": "medicamento_id",
              "value": "={{ $json.medicamento }}",
              "type": "number"
            },
            {
              "id": "13bc4400-48ec-4681-995d-dcc3360c875b",
              "name": "veterinario_id",
              "value": "={{ $json.veterinario }}",
              "type": "string"
            },
            {
              "id": "2d5e281d-9b81-484d-8877-49b05f0da6f7",
              "name": "via_id",
              "value": "={{ $json.via }}",
              "type": "string"
            },
            {
              "id": "366ccd0e-f59f-45f4-896c-c3d6d23b3d06",
              "name": "dosagem_id",
              "value": "={{ $json.dosagem }}",
              "type": "string"
            },
            {
              "id": "35c9d776-3eed-46fe-89ed-9c71d00fd6d5",
              "name": "fracao_id",
              "value": "={{ !$json.dose.isNumeric() }}",
              "type": "boolean"
            },
            {
              "id": "7b763301-9f6f-49eb-ab4b-18875451d1db",
              "name": "continuo_id",
              "value": "={{ $json.continuo }}",
              "type": "boolean"
            },
            {
              "id": "0a22c731-4d33-4c78-b292-ea0907451511",
              "name": "intervalo_id",
              "value": "={{ $json.intervalo_horas }}",
              "type": "number"
            },
            {
              "id": "2b40bbcd-2cf7-4730-a12e-4bb130efef31",
              "name": "horario_id",
              "value": "={{ $json.inicio_horario.toDateTime().format('hh:mm') }}",
              "type": "string"
            },
            {
              "id": "0b676290-cc61-4e38-b402-fdf8427530d4",
              "name": "duracao_id",
              "value": "={{ $json.duracao_dias }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -1056
      ],
      "id": "60202767-b35d-43f7-b63a-0ad4ce6ee13b",
      "name": "Vars Tratamentos",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfab8dc1-bdc4-4658-98cb-9e096424c36e",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "b6d97751-e8c8-47db-af36-41953f21f7b1",
              "name": "data",
              "value": "={{ $json.data_exibicao }}",
              "type": "string"
            },
            {
              "id": "67e8b464-b61f-4376-abaa-9be2bc175a0c",
              "name": "Tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "6578bde1-8126-4f26-994f-adfdf4d6980c",
              "name": "Imunizante",
              "value": "={{ $json.nome_imunizante }}",
              "type": "string"
            },
            {
              "id": "ffe827ed-71c8-46a1-8848-c460ad6b7d8c",
              "name": "Descrição",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "3538b9bf-68c2-4bd5-ae8b-f7da6984c2fd",
              "name": "Veterinário",
              "value": "={{ $json.veterinario_nome || ''}}",
              "type": "string"
            },
            {
              "id": "19b2b7d3-4c12-49e0-adae-56f043644d0e",
              "name": "Status",
              "value": "={{ $json.aplicada ? 'Aplicada' : $json.futura ? 'Programada' : 'Atrasada' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -1184
      ],
      "id": "95eb9c95-eee1-4b52-98e9-ea7eec329cef",
      "name": "Vars Imunizacoes",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d34fc2ed-5d16-4e0f-b69f-6d07e2180aa2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "3f6d40f5-7203-4168-a2b8-605abd6e5b92",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "414288f6-ab47-4534-a195-91b3594bab12",
              "name": "Observação",
              "value": "={{ $json.observacao }}",
              "type": "string"
            },
            {
              "id": "11d855f8-c840-41bb-b7d1-194aca4e8c66",
              "name": "Veterinário",
              "value": "={{ $json.veterinario_nome }}",
              "type": "string"
            },
            {
              "id": "cf9f8d60-2458-47f3-a607-aeda46d74b83",
              "name": "Temperatura",
              "value": "={{ $json.temperatura }}",
              "type": "string"
            },
            {
              "id": "5993d3ee-060d-47eb-aa38-9bee8e352b04",
              "name": "Score",
              "value": "={{ $json.score }}",
              "type": "string"
            },
            {
              "id": "6d8e4d98-423d-4ac9-a319-cbdbbbc7a052",
              "name": "Peso",
              "value": "={{ $json.peso }}",
              "type": "number"
            },
            {
              "id": "053ad00e-f559-4070-8714-bd000d1b6452",
              "name": "Nota",
              "value": "={{ Math.trunc($json.nota*100) }}",
              "type": "string"
            },
            {
              "id": "10a8a038-c441-489e-9f26-c9d026be1a53",
              "name": "veterinario_id",
              "value": "={{ $json.veterinario }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -1312
      ],
      "id": "7fdfadd5-68cf-439d-88e3-8a6cf1317753",
      "name": "Vars Avaliacoes",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4726aa20-0461-47a0-8b0c-f0705ab048a8",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "0d3d3032-e28b-44a2-bf3e-92fa1ac7f6a2",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "7b9ce1e7-77db-45be-a542-abc937c4c304",
              "name": "peso",
              "value": "={{ $json.peso }}",
              "type": "number"
            },
            {
              "id": "4aa01aa1-8506-456d-93a9-7d2d52d31ee0",
              "name": "variacao",
              "value": "={{ Math.floor($json.variacao*100*10)/10 }}%",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -1440
      ],
      "id": "0191e24e-9555-44a9-a04c-c5fa7e8548f2",
      "name": "Vars Pesagens",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c6d358f-f8f3-4ec0-8e4b-00856b11fcc8",
              "name": "id",
              "value": "={{ $json.registro_id }}",
              "type": "number"
            },
            {
              "id": "557cc3c3-8e38-4ad9-a6c0-79f627a932ef",
              "name": "data",
              "value": "={{ $json.data_exibicao }}",
              "type": "string"
            },
            {
              "id": "d9992638-e708-42eb-b947-28765505ad0a",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "3653e455-ed38-4e13-af20-10316e281065",
              "name": "descricao",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "391a071d-2a51-48a0-8d74-da15733695f6",
              "name": "veterinario_id",
              "value": "={{ $json.veterinario_id || '' }}",
              "type": "string"
            },
            {
              "id": "a10832f0-07d4-4f8a-93e7-2667e36b1eb5",
              "name": "Veterinário",
              "value": "={{ $json.nome_veterinario }}",
              "type": "string"
            },
            {
              "id": "58da6e59-a651-49ee-95f8-0c2bf3a5567f",
              "name": "Status",
              "value": "={{ $json.concluido ? 'Concluído' : $json.programado ? 'Programado' : $json.atrasado ? 'Atrasado' : 'Indefinido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -1568
      ],
      "id": "d788ee75-e3db-4ada-b880-8d498473dec0",
      "name": "Vars Eventos",
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2224,
        -1312
      ],
      "id": "72d19507-d1ec-4564-b5dc-ef21c5d5c60b",
      "name": "Respond"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "arquivos_view",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "animal",
              "condition": "eq",
              "keyValue": "={{ $json.body.animal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        -928
      ],
      "id": "efc2af06-1893-4b10-98b8-ce01bc92eda5",
      "name": "Get Arquivos",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vfFMnH1cZndqgot0",
          "name": "Viralatinhaz Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prescricao_view",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "animal",
              "condition": "eq",
              "keyValue": "={{ $json.body.animal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        -1056
      ],
      "id": "71fda9b7-dd41-4ca6-9e7c-4056912f332c",
      "name": "Get Tratamentos",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vfFMnH1cZndqgot0",
          "name": "Viralatinhaz Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "imunizacao_view",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "animal",
              "condition": "eq",
              "keyValue": "={{ $json.body.animal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        -1184
      ],
      "id": "6c6dc918-17c5-4fb3-86d1-b4b3758aad48",
      "name": "Get Imunizacoes",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vfFMnH1cZndqgot0",
          "name": "Viralatinhaz Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "anamneses_view",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "animal",
              "condition": "eq",
              "keyValue": "={{ $json.body.animal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        -1312
      ],
      "id": "f4be4e70-41dd-4dcd-82f1-350d93926f0e",
      "name": "Get Avaliacoes",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vfFMnH1cZndqgot0",
          "name": "Viralatinhaz Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pesagens_view",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "animal",
              "condition": "eq",
              "keyValue": "={{ $json.body.animal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        -1440
      ],
      "id": "fbc1659a-5749-4468-806a-92364764b767",
      "name": "Get Pesagens",
      "notesInFlow": true,
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vfFMnH1cZndqgot0",
          "name": "Viralatinhaz Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "registros_view",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "animal_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.animal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        -1568
      ],
      "id": "bb2c70a7-fbfd-4e45-a59f-1c40229a28db",
      "name": "Get Eventos",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vfFMnH1cZndqgot0",
          "name": "Viralatinhaz Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kaniu-animal-dados",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        128,
        -1312
      ],
      "id": "8a7ba77a-d602-4ac6-89db-2007a6336df6",
      "name": "Animal",
      "webhookId": "1fc5f8c9-f235-422d-8674-c49ce8b23af2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d71f063-a68b-447c-83ae-35e010348508",
                    "leftValue": "={{ $json.body.tab_name }}",
                    "rightValue": "resumo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resumo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tab_name }}",
                    "rightValue": "eventos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aa6aeb7c-d056-4d9c-a4da-a45f5df171bf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "eventos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44484723-8fcf-4dcd-a924-1f76b74d626d",
                    "leftValue": "={{ $json.body.tab_name }}",
                    "rightValue": "pesagens",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pesagens"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fd5a74fb-592a-4533-b1d0-8d24f1131c14",
                    "leftValue": "={{ $json.body.tab_name }}",
                    "rightValue": "avaliacoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "avaliacoes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee9619d2-ad22-45cc-a7af-b9de7e5df7c7",
                    "leftValue": "={{ $json.body.tab_name }}",
                    "rightValue": "imunizacoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imunizacoes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5e0b0326-064f-4ef5-a1ba-56d2796dbdc4",
                    "leftValue": "={{ $json.body.tab_name }}",
                    "rightValue": "tratamentos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tratamentos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee17527f-a9d7-4932-be38-db757a6160dc",
                    "leftValue": "={{ $json.body.tab_name }}",
                    "rightValue": "arquivos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "arquivos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        352,
        -1392
      ],
      "id": "0fb719b7-bad8-48fd-9477-467417741818",
      "name": "Switch3"
    }
  ],
  "connections": {
    "Resumo": {
      "main": [
        [
          {
            "node": "Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars Resumo": {
      "main": [
        [
          {
            "node": "Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Resumo": {
      "main": [
        [
          {
            "node": "Vars Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Table": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort5": {
      "main": [
        [
          {
            "node": "Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort4": {
      "main": [
        [
          {
            "node": "Tratamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort3": {
      "main": [
        [
          {
            "node": "Imunizacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Avaliacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Pesagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eventos": {
      "main": [
        [
          {
            "node": "Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arquivos": {
      "main": [
        [
          {
            "node": "Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamentos": {
      "main": [
        [
          {
            "node": "Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imunizacoes": {
      "main": [
        [
          {
            "node": "Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliacoes": {
      "main": [
        [
          {
            "node": "Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pesagens": {
      "main": [
        [
          {
            "node": "Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars Arquivos": {
      "main": [
        [
          {
            "node": "Sort5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars Tratamentos": {
      "main": [
        [
          {
            "node": "Sort4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars Imunizacoes": {
      "main": [
        [
          {
            "node": "Sort3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars Avaliacoes": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars Pesagens": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars Eventos": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Arquivos": {
      "main": [
        [
          {
            "node": "Vars Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tratamentos": {
      "main": [
        [
          {
            "node": "Vars Tratamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Imunizacoes": {
      "main": [
        [
          {
            "node": "Vars Imunizacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avaliacoes": {
      "main": [
        [
          {
            "node": "Vars Avaliacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pesagens": {
      "main": [
        [
          {
            "node": "Vars Pesagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Eventos": {
      "main": [
        [
          {
            "node": "Vars Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Animal": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Get Resumo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Eventos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pesagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Avaliacoes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Imunizacoes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Tratamentos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c241ff24a9ad53940b8c3b07f3121394f2a5667daf04331aaa56a13d92e8e026"
  }
}
